
<%= render @post %>
<br />
<h3 class="comment_title">Comments</h3>
<%= render :partial => 'comments/comment', :collection => @post.comments %>

<br />
<h3>Add a Comment</h3>

<%= render 'comments/form' %>

